body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-image: url(../img/backg.jpg);
    
    
}



.heart{
    height: 100px;
    width: 100px;
    background:purple;
    position: relative;
    transform: rotate(-45deg) scale(1);
    animation: pulse 1s linear infinite;

}

@keyframes pulse{
    0%{transform: rotate(-45deg) scale(1);}
    10%{transform: rotate(-45deg) scale(1.1);}
    20%{transform: rotate(-45deg) scale(0.9);}
    30%{transform: rotate(-45deg) scale(1.2);}
    40%{transform: rotate(-45deg) scale(0.9);}
    50%{transform:  rotate(-45deg) scale(1.05);}
    60%{transform: rotate(-45deg) scale(0.95);}
    70%{transform: rotate(-45deg) scale(1);}
}


.heart::after{
    height: 100px;
    width: 100px;
    background: purple;
    content: "";
    position: absolute;
    top: -50px;
    border-radius: 50%;

}

.heart::before{
    background: purple;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    height: 100px;
    width: 100px;
}